<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WebApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <FluentIcon Value="@(new Icons.Regular.Size24.Home())" Color="Color.Custom" CustomColor="#ffffff" /><span style="margin-left: 4px;">Početna</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Kljucevi">
                <FluentIcon Value="@(new Icons.Regular.Size24.Key())" Color="Color.Custom" CustomColor="#ffffff" /><span style="margin-left: 4px;">Ključevi</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EnkripcijaIDekripcija">
                <FluentIcon Value="@(new Icons.Regular.Size24.DocumentBriefcase())" Color="Color.Custom" CustomColor="#ffffff" /><span style="margin-left: 4px;">Kriptiranje/dekriptiranje</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="IzracunavanjeSazetka">
                <FluentIcon Value="@(new Icons.Regular.Size24.DataFunnel())" Color="Color.Custom" CustomColor="#ffffff" /><span style="margin-left: 4px;">Izračunavanje sažetka</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DigitalniPotpis">
                <FluentIcon Value="@(new Icons.Regular.Size24.Signature())" Color="Color.Custom" CustomColor="#ffffff" /><span style="margin-left: 4px;">Digitalno potpisivanje</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
